*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

label,h1,h2,p,.nav-link ,.nav-link1,button,.fh{
    font-family: 'Playfair Display', serif;
}
